.main-container{
  height: 500px;
  width: 450px;
  margin: 0px;
  padding: 10px;
  background-image: url(./bg-img\ \(2\).jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 14px 3px #11a4ec;

}
.main-heading{
  font-size: 30px;
  font-family: math Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-weight: bold;
  margin: 0px;
  display: flex;
 
}
.input-box{
  display: flex;
  height:30px;
  width: 100px;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
  background-color: #cceeff;
  
  
}
.input-box:hover{
  border: none;
}
.city-heading{
  font-family: sans-serif;
}
.heading-city{
  justify-content: center;
  display: flex;
  margin: 0px;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 50px;
}
.main-tempature{
  margin: 0px;
  margin-bottom:15px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.main-visibility{
  font-size:25px;
  margin-bottom: 15px;
}
.main-discription{
  font-size: 30px;
  margin-bottom: 50px;
}